@import "../../styles/vars.scss";
@import "../../styles/mixins.scss";

.button {
  @include centerer;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: $medium-font;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 6px;
}

.dark {
  background-color: $black;
  color: $white;

  &:hover {
    background-color: lighten($black, 10%);
  }
}

.light {
  background-color: $white;

  &:hover {
    background-color: darken($white, 10%);
  }
}

.full-width {
  width: 100%;
}
