@import "../../styles/vars.scss";

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    color: $white;
    font-weight: 500;
    font-size: $medium-font;
  }

  .icon {
    color: $gray;
    cursor: pointer;
  }
}

.content {
  margin-top: 15px;
  min-width: 496px;

  @media only screen and (max-width: $mobile) {
    min-width: 300px;
  }
}
